.hr__style1{
    margin-top: 9px;
  }
  .hr__style2{
    rotate: 90deg;
    width: 40px;
    margin-left:20px;
    margin-top: -21px;
  }
  .date{
    width: 150px;
    background-color: aquamarine;
    border-radius: 8px;
    padding: 8px 0 8px 0;
    p {
      font-size: 18px;
    }
    p span{
      font-weight: 700;
      font-size: 23px;
    }
  }