.hr__style1{
    margin-top: 9px;
  }
  .hr__style2{
    rotate: 90deg;
    width: 40px;
    margin-left:20px;
    margin-top: -21px;
  }
  .date{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 414px;
    height: 91px;
    background: #FF81FF;
    border-radius: 12px;
    padding: 16px 24px;
    gap: 22px;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 59px;
      padding: 0 40px 0 40px;
    }
    p span{
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 59px;
    }
  }